---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// color names are based on http://chir.ag/projects/name-that-color/
// My colors
$pumpkin-skin:    #C2620B;
$leather:         #8F6E50;
$pomegranate:     #F54D27;
$screamin-green:  #65F699;
$malachite:       #0BC219;
$wild-sand:       #F5F5F5;
$linen:           #FEF9F9;
$cod-grey:        #111111;
$grey:            #828282;
$tia-maria:       #C62C09;
$boston-blue:     #3C7EB6;
$old-gold:        #D0BB30;
$titan-white:     #EEEEFF;
$silver-chalice:  #B1AFAF;
$ebb:             #E9E5E5;
$persian-red:     #C13B2E;
$apple:           #3CBD2B;
$la-rioja:        #C6C30F;
$eastern-blue:    #29A8B5;
$brink-pink:      #FB6C7D;
$golden-fizz:     #EFFF3B;
$cyan-aqua:       #3BF9FF;
$lavender-rose:   #FC9EF0;
$tundora:         #4B4B4B;
$mercury:         #E8E8E8;
$alto:            #dedddd;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       $cod-grey;
$background-color: $linen;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "layout_doc",
        "layout_intro",
        "flex-grid",
        "footer_intro",
        "block-link",
        "header-left",
        "header_center",
        "box",
        "grouping",
        "grid",
        "panel",
        "console",
        "syntax-highlighting"
;
