---
layout: documentation
title: Fundamentals
permalink: /fundamentals
---

<p id="fundamentals">
  Working with <b>rapid-git</b> means working with indexes. In the following paragraphs and pages we will often use this very word. It may makes you wonder: What are these indexes? Well, indexes always refer to the position of a file, directory or branch in the output of <code class="highlighter-rouge">git status</code> and <code class="highlighter-rouge">git branch</code>. They start at <b>1</b>, not at <b>0</b> and can form ranges. These so called ranges can be defined using numbers and dots notation.
</p>
<p>
  There are the following notations available:
</p>

<div class="grid">
  <div class="four cell">
    <b>Notation</b>
  </div>
  <div class="six cell">
    <b>Description</b>
  </div>

  <div class="four cell">
    <code class="highlighter-rouge">#</code>
  </div>
  <div class="six cell">
    select a single list entry
  </div>

  <div class="four cell">
    <code class="highlighter-rouge">..</code>
  </div>
  <div class="six cell">
    select all list entries
  </div>

  <div class="one cell">
    <code class="highlighter-rouge">..#</code>
  </div>
  <div class="one cell">
    e.g.
  </div>
  <div class="two cell">
    <code class="highlighter-rouge">..5</code>
  </div>
  <div class="six cell">
    select the first entry up to the fifth one
  </div>

  <div class="one cell">
    <code class="highlighter-rouge">#..</code>
  </div>
  <div class="one cell">
    e.g.
  </div>
  <div class="two cell">
    <code class="highlighter-rouge">3..</code>
  </div>
  <div class="six cell">
    select the third entry up to the last one
  </div>

  <div class="one cell">
    <code class="highlighter-rouge">#..#</code>
  </div>
  <div class="one cell">
    e.g.
  </div>
  <div class="two cell">
    <code class="highlighter-rouge">4..7</code>
  </div>
  <div class="six cell">
    select the fourth entry up to the seventh entry
  </div>
</div>

{% capture support_info_list_template %}
  {% include list.html
    type   = 'square'
    item-1 = 'Committing commands support simple indexes as well as ranges'
    item-2 = 'Committing commands allow multiple arguments to be passed'
    item-3 = 'Branching commands only support a single index'
  %}
{% endcapture %}

{% include panel.html
  type    = 'info'
  title   = 'Support information'
  content = support_info_list_template
%}
