{% assign orientation = include.orientation | default: 'left' %}
{% if include.active == 'true' %}
  {% assign active = 'active ' %}
{% else %}
  {% assign active = '' %}
{% endif %}
<div class="{{ active }}block-link orientation-{{ orientation }}">
  <svg
    viewBox="0 0 500 50"
    preserveAspectRatio="none"
    class="background" >

    {% if orientation == 'left' %}
      <path
        class="underline"
        d="m 50,0 50,50 400,0 0,-1 -400,0 -49,-49 z" />
      <path
        class="fill"
        d="m 500,50 -400,0 -50,-50 20,0 47,46 383,0 z" />
    {% endif %}

    {% if orientation == 'right' %}
      <path
        class="underline"
        d="m 450,0 -50,50 -400,0 0,-1 400,0 49,-49 z" />
      <path
        class="fill"
        d="m 0,50 400,0 50,-50 -20,0 -47,46 -383,0 z" />
    {% endif %}
  </svg>
  <a href="{{ include.href }}">{{ include.text }}</a>
</div>
