{% assign type = include.type | default: 'rhomboid' | append: ' ' %}
{% assign headline-type = include.headline-type | default: 'elegant' | append: ' ' %}

{% if include.headline-id %}
  {% assign headline-id = include.headline-id | prepend: 'id="' | append: '" ' %}
{% endif %}

<div class="{{ type }}box">
  <svg
    preserveAspectRatio="none"
    class="background" >
    
    {% if type == 'rhomboid ' or type == 'closing rhomboid ' %}
      <svg
        viewBox="0 0 500 70"
        y="-70"
        height="70"
        width="100%"
        preserveAspectRatio="none" >
        <path
          style="fill:#ffffff;"
          d="M 500,0 L 0,70 L 500,70 Z" />
      </svg>
    {% endif %}

    <svg
      viewBox="0 0 500 500"
      width="100%"
      preserveAspectRatio="none" >
      <path
        style="fill:#ffffff;"
        d="M 500,0 L 0,0 L 0,500 L 500,500 Z" />
    </svg>

    {% if type == 'rhomboid ' or type == 'opening rhomboid ' %}
      <svg
        viewBox="0 0 500 70"
        y="100%"
        height="70"
        width="100%"
        preserveAspectRatio="none" >
        <path
          style="fill:#ffffff;"
          d="M 500,0 L 0,0 L 0,70 Z" />
      </svg>
    {% endif %}

    {% if include.headline %}
      {% unless type contains 'opening' %}
        <svg
          viewBox="0 0 500 140"
          y="-70"
          height="140"
          preserveAspectRatio="none"
          class="{{ headline-type }}" >
          <path
            d="M 500,0 L 0,70 L 0,140 L 500,140 Z" />
        </svg>
      {% else %}
      <svg
        viewBox="0 0 500 70"
        y="0"
        height="70"
        preserveAspectRatio="none"
        class="{{ headline-type }}" >
        <path
          d="M 500,0 L 0,0 L 0,70 L 500,70 Z" />
      </svg>
      {% endunless %}
    {% endif %}
  </svg>

  {% if include.headline %}
    <h2 {{ headline-id }}class="{{ headline-type }}headline">
      {{ include.headline }}
    </h2>
  {% endif %}

  <div class="content">
    {{ include.content }}
  </div>
</div>
