

<div class="grouping">
  <div class="header">
    <div class="label">{{ include.label }}</div>
    <svg
      viewBox="0 0 49 49"
      height="50"
      width="50"
      preserveAspectRatio="none"
      class="diagonally-border" >
      <path d="m -1,50 51,0 0,-51 z" />
    </svg>
    <div class="top-right-border"></div>
  </div>

  <div class="content">
    {{ include.content }}
  </div>

  <div class="footer">
    <div class="bottom-left-border"></div>
    <svg
      viewBox="0 0 49 49"
      height="50"
      width="50"
      preserveAspectRatio="none"
      class="diagonally-border" >
      <path d="m -1,50 51,0 0,-51 z" />
    </svg>
  </div>
</div>
