.box {
  position: relative;
  margin-bottom: 90px;
  width: 100%;

  &.closing {
    margin-bottom: 20px;
  }

  > .background {
    position: absolute;
    display: inline-block;
    z-index: -1;
    overflow:visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    filter: url(#drop-shadow);

    > .elegant {
      fill: transparent;
    }

    > .flashy {
      fill: $left-color-1;
    }
  }

  > .headline {
    margin-bottom: 0;
    padding: 17px 20px;
    font-size: 24px;
    line-height: 36px;

    &.elegant {
      border-bottom: 1px solid $left-color-1;
      padding-bottom: 16px;
      color: $left-color-1;
    }

    &.flashy {
      color: white;
    }
  }

  > .content {
    padding: 22px 20px;

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.box.experimental {

  > .elegant.headline {
    border-bottom-style: dashed;
  }

  > .double-header {
    position: relative;
    display: flex;
    flex-flow: row;
    margin-bottom: 22px;
    width: 100%;

    > .left,
    > .right {
      flex: 1 1 auto;
      color: #b1afaf;
    }

    > .left {
      padding: 11px 10px 11px 20px;
    }

    > .right {
      padding: 11px 20px 11px 10px;
      text-align: right;
    }
  }

  > .content > h3 {
    border-bottom-style: dashed;
  }
}

.box > .content {

  > h3 {
    position: relative;
    box-sizing: border-box;
    left: -20px;
    margin: $spacing-unit / 2 calc(50% - 20px) 22px 0;
    border-bottom: 1px solid $left-color-1;
    padding: 17px 20px;
    color: $left-color-1;
    font-size: 20px;
  }

  > .panel {

    $panel-info-color: rgb(60,126,182);
    $panel-warning-color: rgb(208, 187, 48);

    &.info,
    &.warning {
      box-shadow: none;
      border: 1px solid;
    }

    &.info {
      border-color: rgba($panel-info-color,.24);
    }

    &.warning {
      border-color: rgba($panel-warning-color,.24);
    }
  }
}
