$console-white: #e9e5e5;
$console-red: #c13b2e;
$console-green: #3cbd2b;
$console-yellow: #c6c30f;
$console-cyan: #29a8b5;
$console-bold-red: #fb6c7d;
$console-bold-green: #3bff95;
$console-bold-yellow: #efff3b;
$console-bold-cyan: #3bf9ff;
$console-bold-magenta: #fc9ef0;

.console {
  margin-bottom: 15px;
  padding: 3px 0;
  background-color: white;
  // box-shadow:  0 -1px 0 #e5e5e5,
  //              0 0 2px rgba(0,0,0,.12),
  //              0 2px 4px rgba(0,0,0,.24);

  pre, code, span {
    background-color: #4b4b4b;
  }

  pre {
    margin-bottom: 0;
    white-space: normal;
    box-shadow: inset 0 -1px 0 #e5e5e5,
                inset 0 0 2px rgba(0,0,0,.12),
                inset 0 2px 4px rgba(0,0,0,.24)
  }

  code {
    white-space: normal;
  }

  span {
    color: $console-white;
    white-space: pre;
  }

  .bold {
    font-weight: bold;
  }
  .red {
    color: $console-red;
  }
  .green {
    color: $console-green;
  }
  .yellow {
    color: $console-yellow;
  }
  .cyan {
    color: $console-cyan;
  }
  .bold.red {
    color: $console-bold-red;
  }
  .bold.green {
    color: $console-bold-green;
  }
  .bold.yellow {
    color: $console-bold-yellow;
  }
  .bold.cyan {
    color: $console-bold-cyan;
  }
  .bold.magenta {
    color: $console-bold-magenta;
  }
}
