/**
 * Grids
 */
 .grid {
   display: block;
   box-sizing: border-box;
   margin-bottom: 15px;
   padding: 5px;
   background-color: white;
   box-shadow:  0 -1px 0 #e5e5e5,
                0 0 2px rgba(0,0,0,.12),
                0 2px 4px rgba(0,0,0,.24);

   @extend %clearfix;

  //  &.framed {
  //    border: 1px solid $grey-color;
  //    border-radius: 4px;
  //  }

   > .cell {
     display: inline-block;
     float: left;
     box-sizing: border-box;
     padding: 5px 10px;
     min-height: 36px;

     &.one {
       width: 10%;
     }

     &.two {
       width: 20%;
     }

     &.three {
       width: 30%;
     }

     &.four {
       width: 40%;
     }

     &.five {
       width: 50%;
     }

     &.six {
       width: 60%;
     }

     &.seven {
       width: 70%;
     }

     &.eight {
       width: 80%;
     }

     &.nine {
       width: 90%;
     }

     &.ten {
       width: 100%;
     }
   }
 }
