.grouping {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;

  > .header {
    display: flex;
    flex-flow: row;
    width: 100%;

    > .label {
      flex: 0 0 auto;
      overflow: hidden;
      border-bottom: 1px solid $leather;
      padding: 11px 20px 11px;
      min-width: calc(50% - 25px);
      max-width: calc(100% - 100px);
      color: $leather;
      font-size: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > .top-right-border {
      flex: 1 1 auto;
      border-top: 1px solid $leather;
      border-right: 1px solid $leather;
      min-width: 50px;
    }
  }

  > .content {
    border-right: 1px solid $leather;
    border-left: 1px solid $leather;
    padding: 22px 20px 0;
    width: 100%;

    > .double-header {
      position: relative;
      display: flex;
      flex-flow: row;
      margin-left: 10%;
      margin-bottom: 50px;
      border-bottom: 1px dashed $leather;
      width: calc(90% + 20px);

      > .left,
      > .right {
        flex: 1 1 auto;
        color: #b1afaf;
      }

      > .left {
        padding: 11px 10px 11px 20px;
      }

      > .right {
        padding: 11px 20px 11px 10px;
        text-align: right;
      }
    }
  }

  > .footer {
    display: flex;
    flex-flow: row;
    width: 100%;

    > .bottom-left-border {
      flex: 1 1 auto;
      border-bottom: 1px solid $leather;
      border-left: 1px solid $leather;
    }
  }

  > .header > .diagonally-border,
  > .footer > .diagonally-border {
    flex: 0 0 50px;
    fill: transparent;
    stroke: $leather;
    stroke-width: 1px;
    stroke-linecap: square;
    stroke-linejoin: miter;
  }
}
