.header-center {
  display: flex;
  flex-flow: column;

  > nav {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex: 0 0 100%;
    height: 7vh;
    color: $silver-chalice;

    > a {
      border-right: 2px solid $mercury;
      padding: 0 10px;
      font-size: 1.8vh;
      text-align: center;
      text-decoration: none;

      &:hover,
      &:visited:hover {
        color: $pomegranate;
      }

      &:visited {
        color: $silver-chalice;
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }

  > .branding {
    position: relative;
    display: flex;
    justify-content: center;

    > img {
      width: calc(100vw - 200px);
      height: calc(100vw - 200px);
    }

    > p {
      position: absolute;
      right: 5vw;
      bottom: 0;
      left: 5vw;
      color: $cod-grey;
      font-size: 10vh;
      text-align: center;
      transform: rotate(-10deg);
    }
  }

  > .tag {
    display: flex;
    flex-flow: column;
    color: $cod-grey;
    font-size: 4vh;
    font-style: italic;
    text-align: center;
  }
}

@media only screen and (min-width: 450px) {
  .header-center {

    > nav {

      > a {
        font-size: 2.5vh;
      }
    }

    > .branding {

      > img {
        width: calc(86vh - 294px);
        height: calc(86vh - 294px);
      }

      > p {
        font-size: 14vh;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .header-center {
    flex-flow: row;
    flex-wrap: wrap;

    > nav {
      justify-content: flex-end;

      height: 7vh;

      > a {
        font-size: 3vh;
      }
    }

    > .branding {
      display: block;
      flex: 1 0 calc(100vh - 294px + 5vw);

      > img {
        margin-left: 5vw;
        padding: 0 7vh 7vh;
        width: calc(100vh - 294px);
        height: calc(100vh - 294px);
        background-clip: content-box;
      }

      > p {
        right: auto;
        bottom: 4vh;
        left: 6.5vw;
        text-align: left;;
      }
    }

    > .tag {
      justify-content: flex-end;
      flex: 1 0 calc(100vh - 294px + 5vw);
      font-size: 8vh;

      > :last-child {
        text-align: right;
      }
    }
  }
}
